.image{
    /* width: 2vw;
    height: 2vh; */
    background-color: black;
    /* background-repeat: no-repeat;
    background-position: right center;
    background-size: 200px 40px; */
    /* max-width: 10% ;
    max-height: 10%; */
}