---
import "../curriculum-main/corpsmain.css"
import Text from "../../ui/curriculum-text/Text.astro";
import Image from "../../ui/curriculum-etiquetaimage/EtiquetaImage.astro"
---
<main class="main">
    <Text />
    <Image />
</main>